.search-box {
    position: relative;
    margin: 0 8px;
    min-width: 180px;
    max-width: 500px;

    .search-form {
        border-radius: 8px;
        display: flex;
        align-items: center;
        height: 40px;
        opacity: .9;
        transition: background-color .3s;
        background-color: #f1f2f3;
        border: 1px solid #E3E5E7;

        &:hover {
            background-color: #fff;
        }

        .search-content {
            flex: 1;
            display: flex;
            align-items: center;
            position: relative;
            padding: 0 8px;
            margin-right: 8px;
            height: 32px;
            border: 2px solid transparent;
            border-radius: 6px;

            .search-input {
                flex: 1;
                overflow: hidden;
                padding-right: 8px;
                border: none;
                background-color: transparent;
                box-shadow: none;
                font-size: 14px;
                line-height: 20px;
                color: #61666D;

                &:focus-visible {
                    outline: none;
                }
            }
        }

        .search-btn {
            display: flex;
            margin: 0;
            padding: 0;
            align-items: center;
            justify-content: center;
            width: 32px;
            height: 32px;
            border: none;
            border-radius: 6px;
            cursor: pointer;
            transition: background-color .3s;

            &:hover {
                background-color: #E3E5E7;
            }
        }
    }

    .form-active {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        background-color: #fff;

        .search-content {
            background-color: #f1f2f3;
        }
    }
}

::-webkit-scrollbar {
    display: none;
}

.nav {
    position: relative;
    overflow: hidden;
    margin: 10px;

    .navstack {
        overflow-x: auto;
        scrollbar-width: none;
        -ms-overflow-style: none;
        @itemWidth: 80px;
        @itemMarginHalfWidth: 8px;
        @itemMarginHalfHeight: 4px;
        // grid布局
        grid-template-columns: repeat(auto-fill, @itemWidth+2*@itemMarginHalfWidth);
        transition: display 2s;

        &>* {
            margin: @itemMarginHalfHeight @itemMarginHalfWidth;
        }

        &[data-showed=true] {
            &>span:nth-last-child(2) {
                display: none;
            }

            &>div:last-child {
                position: relative;
            }
        }

        &-filter-tag {
            width: @itemWidth;
            flex: 0 0 @itemWidth;
        }

        .navlink {
            text-decoration: none;

            &-active>div {
                // background-color: ;
            }
        }
    }

    &-right-show-btn {
        justify-content: center;
        margin: 0 !important;
        position: absolute;
        right: 0;
        bottom: 0;
        height: 40px;
        display: flex;
        justify-items: center;
        align-items: center;
        overflow: hidden;
        background-color: #fff;
        box-shadow: rgb(255 255 255) -11px 0px 12px 0px;
        z-index: 1;
        cursor: pointer;
    }
}

//todo 写好header