.search-box {
    position: relative;
    margin: 0 8px;
    min-width: 180px;
    max-width: 500px;

    .search-form {
        border-radius: 8px;
        display: flex;
        align-items: center;
        height: 40px;
        opacity: .9;
        transition: background-color .3s;
        background-color: #f1f2f3;
        border: 1px solid #E3E5E7;

        &:hover {
            background-color: #fff;
        }

        .search-content {
            flex: 1;
            display: flex;
            align-items: center;
            position: relative;
            padding: 0 8px;
            margin-right: 8px;
            height: 32px;
            border: 2px solid transparent;
            border-radius: 6px;

            .search-input {
                flex: 1;
                overflow: hidden;
                padding-right: 8px;
                border: none;
                background-color: transparent;
                box-shadow: none;
                font-size: 14px;
                line-height: 20px;
                color: #61666D;

                &:focus-visible {
                    outline: none;
                }
            }
        }

        .search-btn {
            display: flex;
            margin: 0;
            padding: 0;
            align-items: center;
            justify-content: center;
            width: 32px;
            height: 32px;
            border: none;
            border-radius: 6px;
            cursor: pointer;
            transition: background-color .3s;

            &:hover {
                background-color: #E3E5E7;
            }
        }
    }

    .form-active {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        background-color: #fff;

        .search-content {
            background-color: #f1f2f3;
        }
    }
}

.header {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    align-items: center;

    .nav {
        flex: 1;
        display: flex;
        justify-content: space-between;

        &-right {
            display: flex;
            align-items: center;
        }
    }
}