.container {
    position: relative;

}

.nav {
    // position: sticky;
    // top: 0;
    z-index: 1000;

}

.header {
    max-width: 1440px;
    margin: 0 auto;
    padding-top: 10px;
    display: flex;
    align-items: center;
    background-color: #fff;
}