.skeleton-img {
    aspect-ratio: 16/9;
    max-width: 100%;
    height: auto !important;
}

.skeleton-content {
    display: flex;
    align-items: center;

    &>span:last-of-type {
        margin-left: 5px;
    }
}

.container:empty {
    display: flex;
    justify-content: center;

    &::before {
        margin-top: 50px;
        content: "暂无数据";
        color: #c1c1c1;
    }
}